:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: #101010;
}

.form-control {
  display: flex;
  height: fit-content;
  max-width: 432px;
  position: relative;
  width: 100%;
}

.input {
  background: transparent;
  border: 1px solid #C0C0C0;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  outline: none;
  padding: 1rem 64px 1rem 1rem;
  position: relative;
  width: 100%;
}

.input:active, :focus-visible {
  background: transparent;
}

.input::placeholder {
  color: #686562;
}

.input.error {
  border: 1px solid #FF5858;
}

.input.success {
  border: 1px solid #6FFF58;
}

.label {
  color: #ffffff;
}

.form_errors, .form_errors ul {
  display: flex;
  flex-direction: column;
}
.form_errors ul li {
  color: #FF5858;
  align-self: flex-start;
}